@media screen and (min-width: 600px)
  .auth-bg, .auth-sig, .auth-pick-user
    max-width: 300px!important

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$red: #ca5757
$lblue: #6491cf
$orange: #fe9700
$darkRed: rgba(111,27,27,1)
$lightRed: rgba(147,67,67,1)

@keyframes gpsPulse
  0%
    box-shadow: 0px 0px 15px 0px #2597ff
  50%
    box-shadow: 0px 0px 5px 0px #2597ff
  100%
    box-shadow: 0px 0px 15px 0px #2597ff

@keyframes auth-draw-a
  from
    opacity: 0
    width: 80px
  to
    width: 100px
    opacity: 1
@keyframes auth-draw-b
  from
    width: 50px
    opacity: 0
  to
    width: 75px
    opacity: 1
@keyframes auth-draw-c
  from
    width: 70px
    opacity: 0
  to
    width: 105px
    opacity: 1
@keyframes auth-draw-d
  from
    width: 20px
    opacity: 0
  to
    width: 64px
    opacity: 1

@keyframes finish-draw
  from
    top: 40vh
  to
    top: 80vh

@keyframes hideLogo
  from
    opacity: 1
  to
    opacity: 0
@keyframes showLogoText
  from
    opacity: 0
    top: -500px
  to
    top: -450px
    opacity: 1
@keyframes auth-draw-d-after
  from
    top: -50px
    right: 10px
    opacity: 0
    transform: scale(0), rotate(29deg)
  to
    top: -26px
    right: -3px
    transform: scale(2), rotate(29deg)
    opacity: 1

@keyframes moveLeft
  from
    left: 0
  to
    left: -500px

@keyframes lastPin-move
  from
    opacity: 0
    width: 0
  to
    opacity: 1
    width: 370px
@keyframes hidePin
  from
    opacity: 1
  to
    opacity: 0
@keyframes moveSloganLeft
  from
    left: 0
    opacity: 1
  to
    opacity: 0
    left: -800px
@keyframes hideicons_override
  from
    opacity: 0
    display: none
  to
    display: flex
    opacity: 1
@keyframes hideicons
  from
    opacity: 1
  to
    opacity: 0
@keyframes showicons
  from
    opacity: 0
  to
    opacity: 1
@keyframes loadSig
  from
    opacity: 0
  to
    opacity: 1
@keyframes move-away
  from
    left: 0
    opacity: 1
  to
    left: -150px
    opacity: 0
@keyframes fade-in
  from
    left: 150px
    opacity: 0
  to
    left: 0
    opacity: 1
body
  padding: 0
  margin: 0
  background: $red
  *
    font-family: 'Afacad Flux'
  #editor
    width: 250px
    height: auto
    cursor: grab
    position: absolute
    background: rgba(#000, 0.8)
    box-sizing: border-box
    padding: 10px
    border-radius: 7px
    top: 0
    color: #fff
    z-index: 999
    span
      color: #fff
    .drag-content.show
      padding: 5px
      display: block
    .drag-content
      padding: 0
      display: none
      .job-icon
        margin-top: 5px
        display: flex!important
        text-align: center
        i.active
        i.active.fa-trash-can, i.active.fa-triangle-exclamation
          background: $red
        i.active.fa-snowflake
          background: #6491cf
        i.active.fa-stairs
          background: #ff9800
        i
          border-radius: 50%
          flex: 1
          padding: 19px 0
      div
        display: none
      div.show
        display: block
    .drag-header
      width: 100%
      .pick-draw
        display: flex
        flex-wrap: wrap
        div
          display: flex
          flex: 1
          padding: 5px
          text-align: center
          justify-content: center
          align-items: center
  .fms-prompt
    display: none
    position: absolute
    z-index: 999
    top: 32vh
    box-sizing: border-box
    padding: 15px
    left: 0
    right: 0
    margin: 0 auto
    width: 80vw
    background: rgba(#f1f1f1, 0.8)
    border: 2px solid #d7d7d7
    border-radius: 5px
    h1
      font-size: 1.1em
      margin: 0
    span
      color: rgba(#000, 0.7)
      font-weight: 400
      font-size: .8em
      line-height: -1
    .prompt-buttons
      margin-top: 35px
      display: flex
      flex-wrap: wrap
      gap: 25px
      .button
        border-radius: 3px
        padding: 10px 0 7px 0
        flex: 1 1
        text-align: center
        font-weight: 600
      .y
        color: #f1f1f1
        background-image: linear-gradient( 73.1deg,  #43ad43 8%, rgba(99,162,17,1) 86.9% )
      .n
        background: #dcdcdc
        border: 2px solid #d7d7d7
  .fms-top-left
    position: absolute
    z-index: 888
    top: 10px
    left: 10px
    i
      background: $red
      border-radius: 50%
      color: #f1f1f1
      font-size: 1.6em
  .fms-toggle
    position: absolute
    color: #fff
    bottom: 10px
    z-index: 888
    padding: 10px
    width: 100%
    box-sizing: border-box
    border-radius: 7px
    div.highlighted
      color: #f1f1f1
      background: $red
      i
        color: #f1f1f1!important
        transform: rotate(-45deg)
    div
      border-radius: 10px
      cursor: pointer
      color: #000
      background: #f1f1f1
      position: absolute
    .toggle-layer.fms-show-menu
      width: 30vw
      min-width: 150px
      max-width: 250px
      height: auto
      bottom: 150px
      overflow: visible
    .toggle-layer
      background: #171c21
      width: 30vw
      min-width: 150px
      max-width: 250px
      height: 0
      overflow: hidden
      bottom: 150px
      div.fms-show-menu
         background: #3d2525
      div
        color: #fff
        display: block
        width: 100%
        height: 50px
        padding: 10px 5px
        box-sizing: border-box
        position: relative
        background: none
        border-bottom: 1px solid rgba(#fff ,0.1)
        border-radius: 0
        div
          width: 35px
          height: 20px
          float: left
          position: relative
          border: none
        .show
          text-align: center
          i
            top: 3px
            position: absolute
            margin: 0
            left: 0
            right: 0

        .pakering
          &::before
            content: ''
            display: block
            position: absolute
            left: 0
            right: 0
            margin: 0 auto
            top: 0
            width: 18px
            height: 18px
            border-radius: 5px
            background: rgba(51, 136, 255, 0.25)
            border: 3px dashed #6491cf
        .ikoner
          &::before
            content: ''
            left: 0
            right: 0
            margin: 0 auto
            top: 1px
            width: 19px
            height: 19px
            position: absolute
            display: block
            background: $red
            border: 2px solid #f1f1f1
            border-radius: 50%
        .linjer
          &::before
            left: 0
            border-radius: 2px
            content: ''
            display: block
            position: absolute
            width: 60%
            left: 0
            right: 0
            margin: 0 auto
            height: 5px
            background: $red
    div#toggle-layer.fms-show-menu
      color: #f1f1f1
      background: $red
    div#toggle-layer
      z-index: 800
      padding: 10px 5px 20px 5px
      display: block
      width: 70px
      height: 20px
      border-radius: 5px
      text-align: center
      bottom: 85px
      left: 10px
      border: 2px solid #f1f1f1
      box-shadow: 0px 0px 22px -4px rgba(147,67,67,1)
      font-weight: 600
      &::before
        content: 'ÄNDRA'
        font-size: .7em
        display: block
    div#worktype
      z-index: 800
      padding: 10px 5px 20px 5px
      display: block
      width: 70px
      height: 20px
      border-radius: 5px
      text-align: center
      bottom: 20px
      left: 10px
      border: 2px solid #f1f1f1
      box-shadow: 0px 0px 22px -4px rgba(147,67,67,1)
      font-weight: 600
      &::before
        content: 'VISAS NU'
        font-size: .7em
        display: block
    div#centerGps
      z-index: 800
      padding: 20px
      display: block
      width: 20px
      height: 20px
      border-radius: 50%
      text-align: center
      bottom: 20px
      right: 10px
      border: 2px solid #f1f1f1
      box-shadow: 0px 0px 22px -4px rgba(147,67,67,1)
      i
        position: absolute
        margin: 0 auto
        top: 20px
        left: 0
        right: 0
        color: $red
        font-size: 1.5em
  .fms-toggle-headline.warning-bar
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% )
  .fms-toggle-headline
    position: absolute
    top: 0
    left: 0
    z-index: 995
    width: 100%
    h1
      text-align: center
      font-size: 1.3em
      margin: 13px 0
  .fms-icon-tooltip
    display: none
    flex-direction: column
    position: absolute
    left: 10px
    top: 60px
    z-index: 999
    padding: 5px 10px
    border-radius: 4px
    background: #f1f1f1
    .fms-tt-block
      margin-bottom: 5px
      div
        float: left
        width: 20px
        height: 10px
        margin-top: 0px
        margin-right: 12px
      .tt-entrance
          div
            margin-top: 5px
            background: #E1BEE7
            width: calc(100% + 4px)
            height: 7px
            border-radius: 3px
      .tt-perimiter
          div
            border-radius: 5px
            width: 100%
            height: 100%
            border: 3px dashed #000
      .tt-small-road
          div
            margin-top: 5px
            background: $orange
            width: calc(100% + 4px)
            height: 7px
            border-radius: 3px
      .tt-road
          div
            margin-top: 5px
            background: $red
            width: calc(100% + 4px)
            height: 7px
            border-radius: 3px
      .tt-parkering
          div
            border-radius: 5px
            width: 100%
            height: 100%
            background: rgba(51, 136, 255, 0.25)
            border: 3px dashed #6491cf
      .tt-area-danger
          div
            border-radius: 5px
            width: 100%
            height: 100%
            background: rgba(#ca5757, 0.25)
            border: 3px dashed #ca5757
      .tt-icon
        i
          font-size: .8em
          position: relative
          color: #f1f1f1
          border-radius: 50%
      .stairs
        i
          padding: 4px 3px
          left: 2px
          background: $orange
      .snow
        i
          left: 2px
          padding: 4px 4px
          background: $lblue
      .trash
        i
          background: $red
      .warning
        i
          left: 2px
          padding: 3px 4px
          background: $red
      span
  .GPS-tracker.gps-hidden
    display: none!important
    opacity: 0!important
  .GPS-tracker
    display: block
    opacity: 1
    i
      background: #fff
      animation: gpsPulse 1s infinite forwards
      box-shadow: 0px 0px 15px 0px #2597ff
      color: #2597ff
      font-size: 2em
      border-radius: 50%
      width: 24px
  .leaflet-control-attribution
    display: none
  #map.pointer, .leaflet-interactive
    cursor: crosshair!important
  #map
    height: 100vh
    width: 100%
  .fst-holder
    min-width: 145px
    max-width: 170px
    overflow: auto
    box-sizing: border-box
    border-radius: 3px
    font-weight: 700
    padding: 5px
    font-size: 1.2em
    border: 2px solid rgba($red, 0.5)

  .fancy-bg
    &::before, &::after
      display: block
      content: ""
      position: absolute
      width: 100%
      height: 100%
      border-radius: 4px
    &::before
      background: linear-gradient(-120deg, #36d1dc, #5b86e5)
      top: 0
      left: 0
      z-index: -1
    &::after
      background: rgba(20, 22, 26, 0.9098039216)
      top: 1px
      left: 1px
      z-index: -1
      width: calc(100% - 2px)
      height: calc(100% - 2px)
      // Popup
  .leaflet-popup-close-button
    background: white
  .leaflet-popup-tip
    background: black
  .leaflet-popup-content-wrapper
    background: $red
    color: #fff
    font-weight: 500
    border: 2px solid #fff
  .leaflet-popup-content
    h1
      font-size: 1.4em
      margin: 0
      color: #f1f1f1
    span
      color: #f1f1f1b8
      font-size: 12px
      &::before
        content: ''
        display: block
        width: 4px
        height: 3px
        border-radius: 50%
        background: #f1f1f1b8
        float: left
        position: relative
        top: 7px
        margin-right: 7px
        // Style lines, blocks, warnings, headsup

  .fms-line, .fms-blocks, .fms-obstacle, .fms-headsup, .fms-snow, .fms-hazard-blocks
    animation: showicons .2s ease
  .fms-line
  .fms-blocks
    stroke: #6491cf
    stroke-dasharray: 6
    stroke-width: 2
  .fms-hazard-blocks
    stroke: #ca5757
    stroke-dasharray: 6
    stroke-width: 2
    fill: #ca5757
  .fms-obstacle, .fms-trash
    i
      background: #ca5757
      border: 2px solid white
      border-radius: 50%
      padding: 5px
      color: white
  .fms-headsup, .fms-snow
    i
      background: #6491cf
      border: 2px solid white
      border-radius: 50%
      padding: 4px 5px
      color: white
  .fms-stairs
    i
      background: #ff9800
      border: 2px solid white
      border-radius: 50%
      padding: 5px 4px
      color: white
  .fms-trash
    i
      padding: 5px!important
  .fms-perimiter
    z-index: 99
    fill: none
    stroke: none
    stroke-dasharray: 6
    stroke-width: 2
  .polygon-label-city
    z-index: 800!important
    min-width: 130px
    .city-label
      font-weight: 700
      padding: 3px 14px
      background: #fff
      display: block
      color: $red
      border-radius: 10px
      font-size: 2.5em
      box-shadow: 0px 0px 15px -4px $red
      z-index: 950
      h3
        display: block
        font-size: .6em
        padding: 0
        color: $darkRed
        margin: 0
        margin-top: -10px


  .area-label
    font-weight: 700
    padding: 4px 6px
    background: #fff
    display: inline
    color: $red
    border-radius: 10px
    font-size: 1.5em
    box-shadow: 0px 0px 15px -4px $red

  .menu-username
    position: absolute
    left: 0
    right: 0
    top: 0px
    max-width: 200px
    min-width: 200px
    margin: 0 auto
    color: #fff
    display: block
    padding: 5px
    text-align: center
    z-index: 800
    background: $red
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px
    &::after
      content: ""
      width: 15px
      height: 90%
      position: absolute
      right: -3px
      top: 0px
      background: $red
      transform: skewX(-25deg)
      box-sizing: border-box
    &::before
      content: ""
      width: 15px
      height: 90%
      position: absolute
      left: -3px
      top: 0px
      background: $red
      transform: skewX(25deg)
      box-sizing: border-box
  .fms-menu
    top: 0
    right: 0
    position: absolute
    background: #171c21
    width: 100vw
    height: 100vh
    z-index: 995
    display: none
    .menu-content
      position: absolute
      top: 6vh
      overflow: hidden
      width: 100%
      .bar.red
        button
          width: 100%
          height: 30px
          text-align: left
          font-weight: 700
          color: $red
          outline: 0
          border: 0
          background: none
          font-size: 1.1em
          padding: 0
      .bar
        box-sizing: border-box
        padding: 15px
        float: left
        width: 100%
        border-bottom: 1px solid rgba(#f1f1f1, 0.1)
        position: relative
        h1
          color: rgba(#f1f1f1, 0.8)
          font-size: 1.1em
          line-height: 0
        span
          font-size: 11px
          color: rgba(#f1f1f1, 0.5)
        .switch
          position: absolute
          display: inline-block
          width: 50px
          height: 20px
          right: 15px
          top: 25px
          input
            opacity: 0
            width: 0
            height: 0
          .slider
            position: absolute
            cursor: pointer
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: #ccc
            -webkit-transition: .4s
            transition: .4s
            &:before
              position: absolute
              content: ""
              height: 16px
              width: 16px
              left: 4px
              bottom: 2px
              background-color: white
              -webkit-transition: .4s
              transition: .4s
          input:checked + .slider
            background-color: $lightRed
          input:focus + .slider
            box-shadow: 0 0 1px $lightRed
          input:checked + .slider:before
            -webkit-transform: translateX(27px)
            -ms-transform: translateX(27px)
            transform: translateX(27px)
          .slider.round
            border-radius: 34px
            &:before
              border-radius: 50%

    .bottom-github
      position: absolute
      bottom: 15px
      left: 0
      right: 0
      margin: 0 auto
      .git
        margin: 0 auto
        width: 110px
        img
          opacity: 0.7
        #cat
          width: 40px
        #text
          position: relative
          top: -5px
          left: 5px
          width: 60px
      span
        display: block
        text-align: center
        width: 200px
        margin: 0 auto
        margin-top: 10px
        font-size: 11px
        color: rgba(#fff, 0.2)
  .fms-prompt-show
    display: block
  .fms-override-show
    opacity: 1
    display: flex
    animation: hideicons_override .2s ease
  .fms-type-hidden
    opacity: 0
    animation: hideicons .2s ease
  .fms-hidden
    opacity: 0
    display: none!important
    animation: hideicons .2s ease
  .fms-bars.hamb-visible
    background: none
    padding: 3px 8px
    top: 8px
    right: 10px
    border: 2px solid transparent
    font-size: 1.15em
    border-radius: 10px
    i
      color: #f1f1f1
  .fms-bars
     position: absolute
     z-index: 995
     padding: 3px 8px
     top: 8px
     right: 10px
     border: 2px solid #fff
     font-size: 1.15em
     background: $red
     border-radius: 10px
     i
       color: #f1f1f1
  .leaflet-top.leaflet-left
    display: none!important
  .leaflet-top, .leaflet-left
  //  display: none!important
  .leaflet-top, .leaflet-right
    display: none
  .leaflet-control-zoom
    border: none!important
    .leaflet-control-zoom-in
      border-bottom: none
    .leaflet-control-zoom-in, .leaflet-control-zoom-out
      background: none
      span
        color: #ffffff
    &::before, &::after
      display: block
      content: ""
      position: absolute
      width: 100%
      height: 100%
      border-radius: 4px
    &::before
      background: linear-gradient(-120deg, #36d1dc, #5b86e5)
      top: 0
      left: 0
      z-index: -1
    &::after
      background: rgba(20, 22, 26, 0.9098039216)
      top: 1px
      left: 1px
      z-index: -1
      width: calc(100% - 2px)
      height: calc(100% - 2px)

  .GPS-user-tracker
    background: $red
    color: #fff
    font-weight: 700
    border-radius: 50%
    height: auto!important
    text-transform: uppercase
    border: 2px solid #fff
    text-align: center
    padding: 3px
    z-index: 950!important
  .auth-screen
    position: fixed
    top: 0
    left: 0
    width: 100vw
    max-width: 800px
    right: 0
    margin: 0 auto
    height: 100vh
    z-index: 999
    background: $red
    .numpad
      display: flex
      flex-wrap: wrap
      width: 100%
      gap: 10px
      margin-top: 10px
      button
        cursor: pointer
        color: #fff
        flex-basis: calc((100% / 3) - (20px / 3))
        display: flex
        background: rgba(#fff, 0.15)
        border-radius: 7px
        aspect-ratio: 1/1
        font-weight: 700
        text-align: center
        font-size: 1.5em
        box-sizing: border-box
        justify-content: center
        align-items: center
        transition: 0.2s
        border: 1px solid rgba(#fff, 0.4)
        &:hover
          background: rgba(#fff, 0.05)
    .auth-sig, .auth-pick-user
      h1
        text-align: left
        font-size: 2.5em
        color: #f1f1f1
        padding: 0
        margin: 0
      span
        color: #f1f1f1
        font-weight: 600
        margin-bottom: 15px
        display: block
        text-align: left
      input
        border: 0
        outline: 0
        background: #f1f1f1
        color: $red
        font-size: 2.3em
        font-weight: 600
        width: 100%
        border-radius: 5px
        box-sizing: border-box
        padding: 0px 10px
      select
        border: 0
        outline: 0
        background: #f1f1f1
        color: $red
        font-size: 1.3em
        font-weight: 600
        width: 100%
        border-radius: 5px
        box-sizing: border-box
        padding: 3px 5px
      button
        outline: 0
        border: 0
        font-weight: 600
        background: rgba(#fff, 0.15)
        border: 2px solid rgba(#fff, 0.3)
        border-radius: 5px
        width: 100%
        margin-top: 10px
        padding: 6px 5px
        font-size: 1.3em
        color: #f1f1f1
    .auth-pick-user
      width: 80vw
      position: absolute
      top: 150px
      margin: 0 auto
      left: 0px
      right: 0
      opacity: 1
      z-index: 50
    .auth-pick-user.fade-in
      //animation: fade-in .3s ease-in forwards
      z-index: 100
    .auth-sig.move-away
      z-index: 50
      //animation: move-away .3s ease-in-out forwards
    .auth-sig
      opacity: 1
      //animation: loadSig .3s ease-in-out 5.5s forwards
      width: 65vw
      position: absolute
      top: 20px
      margin: 0 auto
      left: 0
      height: auto
      right: 0
      z-index: 100
      text-align: center
    #rb_white
      position: absolute
      bottom: 76px
      left: 0
      right: 0
      margin: 0 auto
      width: 100%
      max-width: 65px
    .auth-bg-removed
      position: absolute
      top: 40vh
      width: 100%
      height: 70vh
      animation: finish-draw .8s ease forwards
      animation-delay: 2s
      .main-animation-removed
        animation: moveLeft 3s ease forwards
        animation-delay: 4s
      .auth-slogan
        opacity: 0
        left: 0
        right: 0
        margin: 0 auto
        top: -420px
        text-align: center
        color: #f1f1f1
        //animation: showLogoText .8s ease 2.4s forwards, moveSloganLeft 3.5s ease 4s forwards
        img
          width: 100px
        h1
          padding: 0
          margin: 0
          font-size: 4.5em
        span
          display: block
          opacity: 0.7
      .auth-logo
        margin: 0 auto
        left: 0
        right: 0
        top: -250px
        width: 150px
        height: 150px
        animation: hideLogo .3s ease forwards
        animation-delay: 2.5s
      div
        position: absolute
      #a
        left: 0
        transform: rotate(5deg)
        width: 100px
        height: 5px
        background: #fff
        animation: auth-draw-a .4s ease forwards
        &::after
          display: block
          position: absolute
          right: -5px
          top: -5px
          content: ''
          width: 10px
          height: 10px
          background: #fff
          border-radius: 50%
          background: $red
          border: 3px solid #fff
      #b
        opacity: 0
        left: 100px
        transform: rotate(20deg)
        top: 19px
        width: 75px
        height: 5px
        background: #fff
        animation: auth-draw-b .2s ease forwards
        animation-delay: .1s
        &::after
          display: block
          position: absolute
          right: -5px
          top: -5px
          content: ''
          width: 10px
          height: 10px
          background: #fff
          border-radius: 50%
          background: $red
          border: 3px solid #fff
      #c
        opacity: 0
        left: 177px
        transform: rotate(-3deg)
        top: 29px
        width: 105px
        height: 5px
        background: #fff
        animation: auth-draw-c .2s ease forwards
        animation-delay: .24s
        &::after
          display: block
          position: absolute
          right: -5px
          top: -5px
          content: ''
          width: 10px
          height: 10px
          background: #fff
          border-radius: 50%
          background: $red
          border: 3px solid #fff
      #d
        opacity: 0
        left: 280px
        transform: rotate(29deg)
        top: 45px
        width: 64px
        height: 5px
        background: #fff
        animation: auth-draw-d .2s ease forwards
        animation-delay: .4s
        &::after
          opacity: 0
          animation: auth-draw-d-after .4s ease .8s forwards, hidePin 0s 4s forwards
          right: -3px
          top: -26px
          color: #fff
          position: absolute
          transform: rotate(-29deg)
          content: '\f276'
          font-family: "Font Awesome 6 Free"
          font-weight: 700
          font-size: 2em
      #e
        opacity: 0
        left: 339px
        transform: rotate(0deg)
        top: 61px
        width: 64px
        height: 5px
        background: #fff
        animation: lastPin-move 3.5s ease forwards
        animation-delay: 4s
        &::after
          opacity: 1
          right: -8px
          top: -28px
          color: #fff
          position: absolute
          transform: rotate(0deg)
          content: '\f276'
          font-family: "Font Awesome 6 Free"
          font-weight: 700
          font-size: 2em
