@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (min-width: 600px) {
  .auth-bg, .auth-sig, .auth-pick-user, ._loginError {
    max-width: 300px !important;
  }
}
@keyframes gjWindow {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes gjBlur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(4px);
  }
}
@keyframes gpsPulse {
  0% {
    box-shadow: 0px 0px 15px 0px #2597ff;
  }
  50% {
    box-shadow: 0px 0px 5px 0px #2597ff;
  }
  100% {
    box-shadow: 0px 0px 15px 0px #2597ff;
  }
}
@keyframes auth-draw-a {
  from {
    opacity: 0;
    width: 80px;
  }
  to {
    width: 100px;
    opacity: 1;
  }
}
@keyframes auth-draw-b {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 75px;
    opacity: 1;
  }
}
@keyframes auth-draw-c {
  from {
    width: 70px;
    opacity: 0;
  }
  to {
    width: 105px;
    opacity: 1;
  }
}
@keyframes auth-draw-d {
  from {
    width: 20px;
    opacity: 0;
  }
  to {
    width: 64px;
    opacity: 1;
  }
}
@keyframes finish-draw {
  from {
    top: 40vh;
  }
  to {
    top: 80vh;
  }
}
@keyframes hideLogo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showLogoText {
  from {
    opacity: 0;
    top: -500px;
  }
  to {
    top: -450px;
    opacity: 1;
  }
}
@keyframes auth-draw-d-after {
  from {
    top: -50px;
    right: 10px;
    opacity: 0;
    transform: scale(0), rotate(29deg);
  }
  to {
    top: -26px;
    right: -3px;
    transform: scale(2), rotate(29deg);
    opacity: 1;
  }
}
@keyframes moveLeft {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}
@keyframes lastPin-move {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 370px;
  }
}
@keyframes hidePin {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes moveSloganLeft {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    opacity: 0;
    left: -800px;
  }
}
@keyframes hideicons_override {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: flex;
    opacity: 1;
  }
}
@keyframes hideicons {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showicons {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadSig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-away {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -150px;
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    left: 150px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes flSpi {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader_bg {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
  background: #ca5757;
}
body * {
  font-family: "Afacad Flux";
}
body .status-bar {
  background: #ca5757;
  height: 15px;
  width: 0%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 0.7em;
}
body .fms-loader.on {
  animation: loader_bg 0.3s ease forwards;
  display: flex;
}
body .fms-loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ca5757;
  display: none;
  justify-content: center;
  align-items: center;
}
body .fms-loader div {
  width: 50%;
  height: 50%;
  text-align: center;
}
body .fms-loader div i {
  color: #f1f1f1;
  font-size: 4em;
  text-align: center;
  animation: flSpi 1.3s ease infinite;
}
body .fms-loader div span {
  color: #f1f1f1;
  margin-top: 15px;
  display: block;
  font-size: 1.1em;
  font-weight: 700;
}
body #editor {
  width: 250px;
  height: auto;
  cursor: grab;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  top: 0;
  color: #fff;
  z-index: 999;
}
body #editor span {
  color: #fff;
}
body #editor .drag-content.show {
  padding: 5px;
  display: block;
}
body #editor .drag-content {
  padding: 0;
  display: none;
}
body #editor .drag-content .job-icon {
  margin-top: 5px;
  display: flex !important;
  text-align: center;
}
body #editor .drag-content .job-icon i.active.fa-trash-can, body #editor .drag-content .job-icon i.active.fa-triangle-exclamation {
  background: #ca5757;
}
body #editor .drag-content .job-icon i.active.fa-snowflake {
  background: #6491cf;
}
body #editor .drag-content .job-icon i.active.fa-stairs {
  background: #ff9800;
}
body #editor .drag-content .job-icon i {
  border-radius: 50%;
  flex: 1;
  padding: 19px 0;
}
body #editor .drag-content div {
  display: none;
}
body #editor .drag-content div.show {
  display: block;
}
body #editor .drag-header {
  width: 100%;
}
body #editor .drag-header .pick-draw {
  display: flex;
  flex-wrap: wrap;
}
body #editor .drag-header .pick-draw div {
  display: flex;
  flex: 1;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body .fms-prompt {
  display: none;
  position: absolute;
  z-index: 999;
  top: 32vh;
  box-sizing: border-box;
  padding: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80vw;
  background: rgba(241, 241, 241, 0.8);
  border: 2px solid #d7d7d7;
  border-radius: 5px;
}
body .fms-prompt h1 {
  font-size: 1.1em;
  margin: 0;
}
body .fms-prompt span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 0.8em;
  line-height: -1;
}
body .fms-prompt .prompt-buttons {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
body .fms-prompt .prompt-buttons .button {
  border-radius: 3px;
  padding: 10px 0 7px 0;
  flex: 1 1;
  text-align: center;
  font-weight: 600;
}
body .fms-prompt .prompt-buttons .y {
  color: #f1f1f1;
  background-image: linear-gradient(73.1deg, #43ad43 8%, rgb(99, 162, 17) 86.9%);
}
body .fms-prompt .prompt-buttons .n {
  background: #dcdcdc;
  border: 2px solid #d7d7d7;
}
body .fms-top-left {
  position: absolute;
  z-index: 888;
  top: 10px;
  left: 10px;
}
body .fms-top-left i {
  background: #ca5757;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 1.6em;
}
body .fms-toggle {
  position: absolute;
  color: #fff;
  bottom: 10px;
  z-index: 888;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
}
body .fms-toggle div.highlighted {
  color: #f1f1f1;
  background: #ca5757;
}
body .fms-toggle div.highlighted i {
  color: #f1f1f1 !important;
  transform: rotate(-45deg);
}
body .fms-toggle div {
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  background: #f1f1f1;
  position: absolute;
}
body .fms-toggle .toggle-layer.fms-show-menu {
  width: 30vw;
  min-width: 150px;
  max-width: 250px;
  height: auto;
  bottom: 150px;
  overflow: visible;
}
body .fms-toggle .toggle-layer {
  background: #171c21;
  width: 30vw;
  min-width: 150px;
  max-width: 250px;
  height: 0;
  overflow: hidden;
  bottom: 150px;
}
body .fms-toggle .toggle-layer div.fms-show-menu {
  background: #3d2525;
}
body .fms-toggle .toggle-layer div {
  color: #fff;
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 5px;
  box-sizing: border-box;
  position: relative;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
}
body .fms-toggle .toggle-layer div div {
  width: 35px;
  height: 20px;
  float: left;
  position: relative;
  border: none;
}
body .fms-toggle .toggle-layer div .show {
  text-align: center;
}
body .fms-toggle .toggle-layer div .show i {
  top: 3px;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
}
body .fms-toggle .toggle-layer div .pakering::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: rgba(51, 136, 255, 0.25);
  border: 3px dashed #6491cf;
}
body .fms-toggle .toggle-layer div .ikoner::before {
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1px;
  width: 19px;
  height: 19px;
  position: absolute;
  display: block;
  background: #ca5757;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
}
body .fms-toggle .toggle-layer div .linjer::before {
  left: 0;
  border-radius: 2px;
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 5px;
  background: #ca5757;
}
body .fms-toggle div#toggle-layer.fms-show-menu {
  color: #f1f1f1;
  background: #ca5757;
}
body .fms-toggle div#toggle-layer {
  z-index: 800;
  padding: 10px 5px 20px 5px;
  display: block;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  bottom: 85px;
  left: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 0px 22px -4px rgb(147, 67, 67);
  font-weight: 600;
}
body .fms-toggle div#toggle-layer::before {
  content: "ÄNDRA";
  font-size: 0.7em;
  display: block;
}
body .fms-toggle div#worktype {
  z-index: 800;
  padding: 10px 5px 20px 5px;
  display: block;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  bottom: 20px;
  left: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 0px 22px -4px rgb(147, 67, 67);
  font-weight: 600;
}
body .fms-toggle div#worktype::before {
  content: "VISAS NU";
  font-size: 0.7em;
  display: block;
}
body .fms-toggle div#centerGps {
  z-index: 800;
  padding: 20px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  bottom: 20px;
  right: 10px;
  border: 2px solid #f1f1f1;
  box-shadow: 0px 0px 22px -4px rgb(147, 67, 67);
}
body .fms-toggle div#centerGps i {
  position: absolute;
  margin: 0 auto;
  top: 20px;
  left: 0;
  right: 0;
  color: #ca5757;
  font-size: 1.5em;
}
body .fms-toggle-headline.warning-bar {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 67, 67) 0%, rgb(111, 27, 27) 90%);
}
body .fms-toggle-headline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  width: 100%;
}
body .fms-toggle-headline h1 {
  text-align: center;
  font-size: 1.3em;
  margin: 13px 0;
}
body .fms-icon-tooltip {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 10px;
  top: 60px;
  z-index: 999;
  padding: 5px 10px;
  border-radius: 4px;
  background: #f1f1f1;
}
body .fms-icon-tooltip .fms-tt-block {
  margin-bottom: 5px;
}
body .fms-icon-tooltip .fms-tt-block div {
  float: left;
  width: 20px;
  height: 10px;
  margin-top: 0px;
  margin-right: 12px;
}
body .fms-icon-tooltip .fms-tt-block .tt-entrance div {
  margin-top: 5px;
  background: #E1BEE7;
  width: calc(100% + 4px);
  height: 7px;
  border-radius: 3px;
}
body .fms-icon-tooltip .fms-tt-block .tt-perimiter div {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 3px dashed #000;
}
body .fms-icon-tooltip .fms-tt-block .tt-small-road div {
  margin-top: 5px;
  background: #fe9700;
  width: calc(100% + 4px);
  height: 7px;
  border-radius: 3px;
}
body .fms-icon-tooltip .fms-tt-block .tt-road div {
  margin-top: 5px;
  background: #ca5757;
  width: calc(100% + 4px);
  height: 7px;
  border-radius: 3px;
}
body .fms-icon-tooltip .fms-tt-block .tt-parkering div {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: rgba(51, 136, 255, 0.25);
  border: 3px dashed #6491cf;
}
body .fms-icon-tooltip .fms-tt-block .tt-area-danger div {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: rgba(202, 87, 87, 0.25);
  border: 3px dashed #ca5757;
}
body .fms-icon-tooltip .fms-tt-block .tt-icon i {
  font-size: 0.8em;
  position: relative;
  color: #f1f1f1;
  border-radius: 50%;
}
body .fms-icon-tooltip .fms-tt-block .stairs i, body .fms-icon-tooltip .fms-tt-block .door i {
  padding: 4px 3px;
  left: 2px;
  background: #fe9700;
}
body .fms-icon-tooltip .fms-tt-block .snow i {
  left: 2px;
  padding: 4px 4px;
  background: #6491cf;
}
body .fms-icon-tooltip .fms-tt-block .trash i {
  background: #ca5757;
}
body .fms-icon-tooltip .fms-tt-block .warning i {
  left: 2px;
  padding: 3px 4px;
  background: #ca5757;
}
body .GPS-tracker.gps-hidden {
  display: none !important;
  opacity: 0 !important;
}
body .GPS-tracker {
  display: block;
  opacity: 1;
  z-index: 9999;
}
body .GPS-tracker i {
  background: #fff;
  animation: gpsPulse 1s infinite forwards;
  box-shadow: 0px 0px 15px 0px #2597ff;
  color: #2597ff;
  font-size: 2em;
  border-radius: 50%;
  width: 24px;
}
body .leaflet-control-attribution {
  display: none;
}
body .session-confetti {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: none;
}
body .session-confetti .sc-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(4px);
  z-index: 800;
  animation: gjBlur 1s ease forwards;
}
body .session-confetti .sc-content {
  position: absolute;
  top: 20vh;
  z-index: 999;
  left: 0;
  right: 0;
  max-width: 400px;
  margin: 0 auto;
  width: 85vw;
  height: auto;
  padding: 10px;
  border-radius: 17px;
  background: #fff;
  text-align: center;
  border: 4px solid #ca5757;
  animation: gjWindow 0.4s ease forwards;
}
body .session-confetti .sc-content a {
  text-decoration: none;
}
body .session-confetti .sc-content img {
  width: 50%;
  max-width: 150px;
  margin: 0 auto;
}
body .session-confetti .sc-content h1 {
  color: #ca5757;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}
body .session-confetti .sc-content p {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.85);
}
body .session-confetti .sc-content button {
  width: 95%;
  max-width: 350px;
  background: #ca5757;
  color: #fff;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: block;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px #ca5757;
}
body #map.pointer, body .leaflet-interactive {
  cursor: crosshair !important;
}
body #map {
  height: 100vh;
  width: 100%;
}
body #map .area-label.session-completed {
  background: green;
  color: white;
  box-shadow: 0px 0px 15px -4px green;
}
body #map .fms-obstacle.session-completed, body #map .fms-trash.session-completed {
  display: none !important;
}
body #map .fms-hazard-blocks.session-completed, body #map .fms-blocks.session-completed {
  fill: green !important;
  stroke: green !important;
}
body #map .fms-line.session-completed {
  stroke: green !important;
}
body #map .fms-stairs.session-completed i, body #map .fms-door.session-completed i, body #map .fms-snow.session-completed i {
  background: green !important;
}
body #map .fms-obstacle.session-ongoing, body #map .fms-trash.session-ongoing {
  display: #989898;
}
body #map .fms-hazard-blocks.session-ongoing, body #map .fms-blocks.session-ongoing {
  fill: #989898;
  stroke: #989898;
}
body #map .fms-line.session-ongoing {
  stroke: #989898;
}
body #map .fms-stairs.session-ongoing i, body #map .fms-door.session-ongoing i, body #map .fms-snow.session-ongoing i {
  background: #989898;
}
body .fst-holder {
  min-width: 145px;
  max-width: 170px;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid rgba(202, 87, 87, 0.5);
}
body .fms-statusDiv {
  width: auto !important;
  height: auto !important;
  background: #f1f1f1;
  padding: 0 10px 10px 10px;
  border-radius: 7px;
  color: #171c21;
}
body .fms-statusDiv button {
  outline: 0;
  border: 0;
  background: #ca5757;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 3px 10px;
  color: #fff;
}
body .fms-statusDiv button.completed {
  background: green;
  color: #fff;
}
body .fms-statusDiv h1 {
  margin: 5px 0;
  font-size: 1.3em;
  text-transform: capitalize;
}
body .fms-statusDiv span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
body .fancy-bg::before, body .fancy-bg::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
body .fancy-bg::before {
  background: linear-gradient(-120deg, #36d1dc, #5b86e5);
  top: 0;
  left: 0;
  z-index: -1;
}
body .fancy-bg::after {
  background: rgba(20, 22, 26, 0.9098039216);
  top: 1px;
  left: 1px;
  z-index: -1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
body .leaflet-popup-close-button {
  background: white;
}
body .leaflet-popup-tip {
  background: black;
}
body .leaflet-popup-content-wrapper {
  background: #ca5757;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
}
body .leaflet-popup-content h1 {
  font-size: 1.4em;
  margin: 0;
  color: #f1f1f1;
}
body .leaflet-popup-content span {
  color: rgba(241, 241, 241, 0.7215686275);
  font-size: 12px;
}
body .leaflet-popup-content span::before {
  content: "";
  display: block;
  width: 4px;
  height: 3px;
  border-radius: 50%;
  background: rgba(241, 241, 241, 0.7215686275);
  float: left;
  position: relative;
  top: 7px;
  margin-right: 7px;
}
body .fms-line, body .fms-blocks, body .fms-obstacle, body .fms-headsup, body .fms-snow, body .fms-hazard-blocks, body .fms-door {
  animation: showicons 0.2s ease;
}
body .fms-blocks {
  stroke: #6491cf;
  stroke-dasharray: 6;
  stroke-width: 2;
}
body .fms-hazard-blocks {
  stroke: #ca5757;
  stroke-dasharray: 6;
  stroke-width: 2;
  fill: #ca5757;
}
body .fms-barrier i {
  background: #ca5757;
  border: 2px solid white;
  border-radius: 50%;
  padding: 6px 5px;
  color: white;
  font-size: 0.87em;
}
body .fms-obstacle i, body .fms-trash i {
  background: #ca5757;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  color: white;
}
body .fms-headsup i, body .fms-snow i {
  background: #6491cf;
  border: 2px solid white;
  border-radius: 50%;
  padding: 4px 5px;
  color: white;
}
body .fms-stairs i, body .fms-door i {
  background: #ff9800;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px 4px;
  color: white;
}
body .fms-trash i {
  padding: 5px !important;
}
body .fms-perimiter {
  z-index: 99;
  fill: none;
  stroke: none;
  stroke-dasharray: 6;
  stroke-width: 2;
}
body .polygon-label-city {
  z-index: 800 !important;
  min-width: 130px;
}
body .polygon-label-city .city-label {
  font-weight: 700;
  padding: 3px 14px;
  background: #fff;
  display: block;
  color: #ca5757;
  border-radius: 10px;
  font-size: 2.5em;
  box-shadow: 0px 0px 15px -4px #ca5757;
  z-index: 950;
  text-transform: capitalize;
}
body .polygon-label-city .city-label h3 {
  display: block;
  font-size: 0.6em;
  padding: 0;
  color: rgb(111, 27, 27);
  margin: 0;
  margin-top: -10px;
  text-transform: capitalize;
}
body .area-label {
  font-weight: 700;
  padding: 4px 6px;
  background: #fff;
  display: inline;
  color: #ca5757;
  border-radius: 5px;
  font-size: 1.5em;
  box-shadow: 0px 0px 15px -4px #ca5757;
}
body .area-label .indiv_status.hidden {
  display: none;
}
body .area-label .indiv_status.val25 {
  background: #ffe64a !important;
  display: block !important;
}
body .area-label .indiv_status.val0 {
  display: none;
  background: white;
}
body .area-label .indiv_status.val100 {
  background: green !important;
}
body .area-label .indiv_status {
  font-size: 11px;
  position: absolute;
  padding: 0px 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: -16px;
  margin: 0 auto;
  display: block;
}
body .area-label.val25 {
  background: #ffe64a;
  box-shadow: 0px 0px 25px -4px #ff924a;
  color: #000;
}
body .menu-username {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  max-width: 200px;
  min-width: 200px;
  margin: 0 auto;
  color: #fff;
  display: block;
  padding: 5px;
  text-align: center;
  z-index: 800;
  background: #ca5757;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
body .menu-username::after {
  content: "";
  width: 15px;
  height: 90%;
  position: absolute;
  right: -3px;
  top: 0px;
  background: #ca5757;
  transform: skewX(-25deg);
  box-sizing: border-box;
}
body .menu-username::before {
  content: "";
  width: 15px;
  height: 90%;
  position: absolute;
  left: -3px;
  top: 0px;
  background: #ca5757;
  transform: skewX(25deg);
  box-sizing: border-box;
}
body .fms-menu {
  top: 0;
  right: 0;
  position: absolute;
  background: #171c21;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  z-index: 995;
  display: none;
}
body .fms-menu .menu-content {
  position: absolute;
  top: 1vh;
  overflow: hidden;
  width: 100%;
}
body .fms-menu .menu-content .head-info {
  text-align: center;
}
body .fms-menu .menu-content .head-info .api-logo {
  margin: 0 auto;
  max-width: 60%;
  max-height: 60px;
}
body .fms-menu .menu-content .head-info .api-username {
  text-transform: capitalize;
  display: block;
}
body .fms-menu .menu-content .head-info .api-email {
  margin-bottom: 10px;
  display: block;
}
body .fms-menu .menu-content .head-info .api-cities {
  display: block;
  margin-top: 20px;
}
body .fms-menu .menu-content .head-info .api-cities .tag.brynas {
  background-image: url("https://gallerix.se/gallery/6/8/3/9/43637-800.jpg");
  background-size: 123%;
  background-position: -7px -15px;
  color: #fff;
  text-shadow: 0px 1px 2px #000;
  box-shadow: 0px 0px 13px -5px yellow;
}
body .fms-menu .menu-content .head-info .api-cities .tag.default-admin {
  background: #ca5757;
  box-shadow: 0px 0px 13px #ca5757;
}
body .fms-menu .menu-content .head-info .api-cities .tag.newbie {
  background: grey;
}
body .fms-menu .menu-content .head-info .api-cities .tag {
  background: #ca5757;
  margin-right: 5px;
  border-radius: 6px;
  color: #f1f1f1;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 6px;
}
body .fms-menu .menu-content .head-info .api-cities .tag:last-child {
  margin-right: 0;
}
body .fms-menu .menu-content .head-info .api-cities .city {
  margin-right: 5px;
  background: #ca5757;
  border-radius: 6px;
  color: #f1f1f1;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 6px;
}
body .fms-menu .menu-content .head-info .api-cities .city:last-child {
  margin-right: 0;
}
body .fms-menu .menu-content .prev-sessionData {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
body .fms-menu .menu-content .prev-sessionData h1 {
  padding: 0;
  color: rgba(241, 241, 241, 0.8);
  margin: 0;
  font-size: 1.2em;
  padding: 15px;
}
body .fms-menu .menu-content .prev-sessionData a {
  color: rgba(241, 241, 241, 0.8);
  box-sizing: border-box;
  padding: 15px;
  display: block;
  overflow: auto;
  border-top: 1px solid rgba(241, 241, 241, 0.1);
  text-decoration: none;
}
body .fms-menu .menu-content .prev-sessionData a .session-bar {
  display: flex;
}
body .fms-menu .menu-content .prev-sessionData a .session-bar #sb-date {
  flex: 1;
}
body .fms-menu .menu-content .prev-sessionData a .session-bar #sb-status.done {
  color: green !important;
}
body .fms-menu .menu-content .prev-sessionData a .session-bar #sb-status {
  flex: 1;
}
body .fms-menu .menu-content .prev-sessionData a .session-bar #sb-time {
  flex: 2;
  text-align: center;
}
body .fms-menu .menu-content .bar.red button {
  width: 100%;
  height: 30px;
  text-align: left;
  font-weight: 700;
  color: #ca5757;
  outline: 0;
  border: 0;
  background: none;
  font-size: 1.1em;
  padding: 0;
}
body .fms-menu .menu-content .bar {
  box-sizing: border-box;
  padding: 15px;
  float: left;
  width: 100%;
  border-bottom: 1px solid rgba(241, 241, 241, 0.1);
  position: relative;
  cursor: pointer;
}
body .fms-menu .menu-content .bar h1 {
  color: rgba(241, 241, 241, 0.8);
  font-size: 1.1em;
  line-height: 0;
}
body .fms-menu .menu-content .bar span {
  font-size: 0.95em;
  color: rgba(241, 241, 241, 0.5);
}
body .fms-menu .menu-content .bar .switch {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 20px;
  right: 15px;
  top: 25px;
}
body .fms-menu .menu-content .bar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .fms-menu .menu-content .bar .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .fms-menu .menu-content .bar .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .fms-menu .menu-content .bar .switch input:checked + .slider {
  background-color: rgb(147, 67, 67);
}
body .fms-menu .menu-content .bar .switch input:focus + .slider {
  box-shadow: 0 0 1px rgb(147, 67, 67);
}
body .fms-menu .menu-content .bar .switch input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
body .fms-menu .menu-content .bar .switch .slider.round {
  border-radius: 34px;
}
body .fms-menu .menu-content .bar .switch .slider.round:before {
  border-radius: 50%;
}
body .fms-menu .bottom-github {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  display: none;
  margin: 0 auto;
}
body .fms-menu .bottom-github .git {
  margin: 0 auto;
  width: 110px;
}
body .fms-menu .bottom-github .git img {
  opacity: 0.7;
}
body .fms-menu .bottom-github .git #cat {
  width: 40px;
}
body .fms-menu .bottom-github .git #text {
  position: relative;
  top: -5px;
  left: 5px;
  width: 60px;
}
body .fms-menu .bottom-github span {
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.2);
}
body .fms-prompt-show {
  display: block;
}
body .fms-override-show {
  opacity: 1;
  display: flex;
  animation: hideicons_override 0.2s ease;
}
body .fms-type-hidden {
  opacity: 0;
  animation: hideicons 0.2s ease;
}
body .fms-hidden {
  opacity: 0;
  display: none !important;
  animation: hideicons 0.2s ease;
}
body .fms-bars.hamb-visible {
  background: none;
  padding: 3px 8px;
  top: 8px;
  right: 10px;
  border: 2px solid transparent;
  font-size: 1.15em;
  border-radius: 10px;
}
body .fms-bars.hamb-visible i {
  color: #f1f1f1;
}
body .fms-bars {
  position: absolute;
  z-index: 995;
  padding: 3px 8px;
  top: 8px;
  right: 10px;
  border: 2px solid #fff;
  font-size: 1.15em;
  background: #ca5757;
  border-radius: 10px;
}
body .fms-bars i {
  color: #f1f1f1;
}
body .leaflet-top.leaflet-left {
  display: none !important;
}
body .leaflet-top, body .leaflet-right {
  display: none;
}
body .leaflet-control-zoom {
  border: none !important;
}
body .leaflet-control-zoom .leaflet-control-zoom-in {
  border-bottom: none;
}
body .leaflet-control-zoom .leaflet-control-zoom-in, body .leaflet-control-zoom .leaflet-control-zoom-out {
  background: none;
}
body .leaflet-control-zoom .leaflet-control-zoom-in span, body .leaflet-control-zoom .leaflet-control-zoom-out span {
  color: #ffffff;
}
body .leaflet-control-zoom::before, body .leaflet-control-zoom::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
body .leaflet-control-zoom::before {
  background: linear-gradient(-120deg, #36d1dc, #5b86e5);
  top: 0;
  left: 0;
  z-index: -1;
}
body .leaflet-control-zoom::after {
  background: rgba(20, 22, 26, 0.9098039216);
  top: 1px;
  left: 1px;
  z-index: -1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
body .GPS-user-tracker {
  background: #ca5757;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  height: auto !important;
  text-transform: uppercase;
  border: 2px solid #fff;
  text-align: center;
  padding: 3px;
  z-index: 9999 !important;
}
body .GPS-user-tracker::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 12px;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ca5757;
}
body .GPS-user-tracker .customGpsNode {
  background-size: 100% 100%;
  border-radius: 50%;
}
body .auth-screen.reports {
  max-width: initial !important;
}
body .auth-screen.reports i {
  cursor: pointer;
}
body .auth-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 800px;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  z-index: 999;
  background: #ca5757;
}
body .auth-screen .fa-circle-arrow-left {
  font-size: 1.5em;
  color: #fff;
  position: relative;
  left: 10px;
  top: 10px;
}
body .auth-screen .tos.show {
  display: block !important;
}
body .auth-screen .tos {
  width: 100%;
  background: #ca5757;
  color: #fff;
  height: 100vh;
  left: 0;
  position: absolute;
  z-index: 999;
  display: none;
}
body .auth-screen .tos h2 {
  display: block;
  padding: 5%;
  font-size: 2em;
  margin: 0;
}
body .auth-screen .tos .scrollable-tos {
  position: relative;
  overflow: scroll;
  max-height: 70vh;
  padding: 5%;
  scrollbar-color: black;
  margin-bottom: 100px;
}
body .auth-screen .tos .scrollable-tos h1 {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
body .auth-screen .tos .scrollable-tos span {
  display: block;
}
body .auth-screen .tos .scrollable-tos .tos_holder {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
body .auth-screen .tos .scrollable-tos .tos_holder input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 20px;
}
body .auth-screen .tos .scrollable-tos .tos_holder button {
  outline: 0;
  border: 0;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 1em;
  color: #f1f1f1;
}
body .auth-screen .auth-form span {
  margin-bottom: 3px !important;
  margin-top: 15px;
}
body .auth-screen .auth-form button {
  margin-top: 30px !important;
}
body .auth-screen .auth-form input {
  font-size: 1.2em !important;
  padding: 8px !important;
}
body .auth-screen .numpad {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}
body .auth-screen .numpad button {
  cursor: pointer;
  color: #fff;
  flex-basis: calc(33.3333333333% - 6.6666666667px);
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 7px;
  aspect-ratio: 1/1;
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
body .auth-screen .numpad button:hover {
  background: rgba(255, 255, 255, 0.05);
}
body .auth-screen .auth-pick-user.change input {
  font-size: 1.2em !important;
  padding: 8px !important;
}
body .auth-screen .auth-sig h1, body .auth-screen .auth-pick-user h1 {
  text-align: left;
  font-size: 2.5em;
  color: #f1f1f1;
  padding: 0;
  margin: 0;
}
body .auth-screen .auth-sig span, body .auth-screen .auth-pick-user span {
  color: #f1f1f1;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  text-align: left;
}
body .auth-screen .auth-sig input, body .auth-screen .auth-pick-user input {
  border: 0;
  outline: 0;
  background: #f1f1f1;
  color: #ca5757;
  font-size: 2.3em;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0px 10px;
}
body .auth-screen .auth-sig select, body .auth-screen .auth-pick-user select {
  border: 0;
  outline: 0;
  background: #f1f1f1;
  color: #ca5757;
  font-size: 1.3em;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px 5px;
}
body .auth-screen .auth-sig button, body .auth-screen .auth-pick-user button {
  outline: 0;
  border: 0;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  padding: 6px 5px;
  font-size: 1.3em;
  color: #f1f1f1;
}
body .auth-screen .auth-pick-user {
  width: 80vw;
  position: absolute;
  top: 150px;
  margin: 0 auto;
  left: 0px;
  right: 0;
  opacity: 1;
  z-index: 50;
}
body .auth-screen ._loginError {
  width: 80vw;
  position: absolute;
  top: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
  background: #9d4747;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  transition: all 1s ease;
}
body .auth-screen ._loginError i {
  position: absolute;
  margin-right: 15px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.45);
}
body .auth-screen ._loginError span {
  position: relative;
  left: 40px;
  top: 2px;
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  width: calc(100% - 40px);
}
body .auth-screen .auth-pick-user.fade-in {
  z-index: 100;
}
body .auth-screen .auth-sig.move-away {
  z-index: 50;
}
body .auth-screen .auth-sig {
  opacity: 1;
  width: 65vw;
  position: absolute;
  top: 20px;
  margin: 0 auto;
  left: 0;
  height: auto;
  right: 0;
  z-index: 100;
  text-align: center;
}
body .auth-screen #rb_white {
  position: absolute;
  bottom: 76px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 65px;
}
body .auth-screen .auth-bg-removed {
  position: absolute;
  top: 40vh;
  width: 100%;
  height: 70vh;
  animation: finish-draw 0.8s ease forwards;
  animation-delay: 2s;
}
body .auth-screen .auth-bg-removed .main-animation-removed {
  animation: moveLeft 3s ease forwards;
  animation-delay: 4s;
}
body .auth-screen .auth-bg-removed .auth-slogan {
  opacity: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -420px;
  text-align: center;
  color: #f1f1f1;
}
body .auth-screen .auth-bg-removed .auth-slogan img {
  width: 100px;
}
body .auth-screen .auth-bg-removed .auth-slogan h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
}
body .auth-screen .auth-bg-removed .auth-slogan span {
  display: block;
  opacity: 0.7;
}
body .auth-screen .auth-bg-removed .auth-logo {
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -250px;
  width: 150px;
  height: 150px;
  animation: hideLogo 0.3s ease forwards;
  animation-delay: 2.5s;
}
body .auth-screen .auth-bg-removed div {
  position: absolute;
}
body .auth-screen .auth-bg-removed #a {
  left: 0;
  transform: rotate(5deg);
  width: 100px;
  height: 5px;
  background: #fff;
  animation: auth-draw-a 0.4s ease forwards;
}
body .auth-screen .auth-bg-removed #a::after {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  background: #ca5757;
  border: 3px solid #fff;
}
body .auth-screen .auth-bg-removed #b {
  opacity: 0;
  left: 100px;
  transform: rotate(20deg);
  top: 19px;
  width: 75px;
  height: 5px;
  background: #fff;
  animation: auth-draw-b 0.2s ease forwards;
  animation-delay: 0.1s;
}
body .auth-screen .auth-bg-removed #b::after {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  background: #ca5757;
  border: 3px solid #fff;
}
body .auth-screen .auth-bg-removed #c {
  opacity: 0;
  left: 177px;
  transform: rotate(-3deg);
  top: 29px;
  width: 105px;
  height: 5px;
  background: #fff;
  animation: auth-draw-c 0.2s ease forwards;
  animation-delay: 0.24s;
}
body .auth-screen .auth-bg-removed #c::after {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  background: #ca5757;
  border: 3px solid #fff;
}
body .auth-screen .auth-bg-removed #d {
  opacity: 0;
  left: 280px;
  transform: rotate(29deg);
  top: 45px;
  width: 64px;
  height: 5px;
  background: #fff;
  animation: auth-draw-d 0.2s ease forwards;
  animation-delay: 0.4s;
}
body .auth-screen .auth-bg-removed #d::after {
  opacity: 0;
  animation: auth-draw-d-after 0.4s ease 0.8s forwards, hidePin 0s 4s forwards;
  right: -3px;
  top: -26px;
  color: #fff;
  position: absolute;
  transform: rotate(-29deg);
  content: "\f276";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 2em;
}
body .auth-screen .auth-bg-removed #e {
  opacity: 0;
  left: 339px;
  transform: rotate(0deg);
  top: 61px;
  width: 64px;
  height: 5px;
  background: #fff;
  animation: lastPin-move 3.5s ease forwards;
  animation-delay: 4s;
}
body .auth-screen .auth-bg-removed #e::after {
  opacity: 1;
  right: -8px;
  top: -28px;
  color: #fff;
  position: absolute;
  transform: rotate(0deg);
  content: "\f276";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 2em;
}

/*# sourceMappingURL=styles.css.map */
